.card-page {
  height: 800px;
}

.card-page-container {
  display: flex;
  margin-top: 70px;
}

.img-container {
  flex: 4;

}

.img-container img {
  display: flex;
  width: 320px;
  text-align: center;
  margin: auto;
}

.img-container p {
  text-align: center;
  font-size: 1.2rem;
}

.pokemon-details {
  flex: 2;
  width: 100px;
  font-size: 1.2rem;
}

.pokemon-details ul ol li {
  padding-left: 0px;
}

.pokemon-details ul ol li {
  padding-left: 10px;
}
