.page {
  background-color: whitesmoke;
  margin: 40px 10px;
  border-radius: 20px;
  padding: 7px;

}


.cards-page-container {
  display: flex;
  margin-top: 10px 5px;
  max-height: 800px;
  
}

@media only screen and (max-width: 600px) {
  .cards-page-container {
    display: flex;
    flex-direction: column;
    
  }
}
