.cssload-loader {
	position: absolute;
  left: 50%;
  top: 29%;
	width: 95px;
	height: 95px;
	margin-top: -48px;
	margin-left: -48px;
	border-radius: 50%;
	overflow: hidden;
	animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-o-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-ms-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-webkit-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-moz-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
}

.cssload-loader:before, .cssload-loader:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: 48px solid black;
	border-top-color: rgb(250,66,72);
	border-left-color: rgb(93,219,186);
	border-bottom-color: rgb(237,230,112);
	border-right-color: rgb(100,195,242);
}
.cssload-loader:before {
	filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
}
.cssload-loader:after {
	animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-o-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-ms-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-webkit-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-moz-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
}





@keyframes cssload-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-2160deg);
	}
}

@-o-keyframes cssload-spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(-2160deg);
	}
}

@-ms-keyframes cssload-spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(-2160deg);
	}
}

@-webkit-keyframes cssload-spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-2160deg);
	}
}

@-moz-keyframes cssload-spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(-2160deg);
	}
}

@keyframes cssload-normal-opacity {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes cssload-normal-opacity {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes cssload-normal-opacity {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes cssload-normal-opacity {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes cssload-normal-opacity {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}