.navbar {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: whitesmoke;
  padding-right: 2rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

